@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.site-header a{
    color: #343D40;
}

.site-navigation{
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: white;
}

.navigation-logo{
    display: flex;
    max-width: 90%;
    margin: auto;
}

.navigation-logo img{
    max-width: 60px;
}
.navigation-logo p{
    font-size: 40px;
    margin: 10px;
    padding: 15px;
    margin-left: 5px;
    font-family: 'Cookie', cursive;
}

.green-nav-wrapper{
    background-color: #97a948;
}

.header-nav-link-selected{
    background-color:#6e801c;
}

.site-nav-list-wrapper{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 90%;
    font-weight: 600;
    font-size: 18px;
}

.site-nav-list-wrapper a{
    color: white;
    padding:0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.site-navigation-list,
.login-partial-list{
    list-style: none;
    display: flex;
    padding: 0 5px;
    margin: 0;
    
}

.site-navigation-list li{
    display: flex;
}

.login-partial-list{
    list-style: none;
}